@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our <span style="color:red;">Cake Shop</span></h1>
    
</div>
<div>
    <h1 style="color:red;">Group Members:</h1>
    <h3>Thong Meng Deva</h3>
    <h3>Sou Theanea</h3>
    <h3>Taing Manchhung</h3>
    <h3>Sor Sovanvivath</h3>
    <h3>Pon Davith</h3>
    <h3>Yem YutiVong</h3>
    <h3>Chhum Moniroth</h3>
</div>
